/** ------------------------------------- -->
/**  BORDERS IN CSS
/** ---------------------------------------- --> */

/*? In CSS, the `border` property is used to create and control the borders of HTML elements. Borders are used to visually separate and define the boundaries of elements on a web page. The `border` property allows you to specify the style, width, and color of borders. Let's explore the `border` property in depth: */

/* 1. Short-hand Syntax:
       ? border: [border-width] [border-style] [border-color];

    - `[border-width]`: Specifies the width of the border (e.g., `1px`, `2px`, `3px`, etc.).
    - `[border-style]`: Specifies the style of the border (e.g., `solid`, `dotted`, `dashed`, etc.).
    - `[border-color]`: Specifies the color of the border (e.g., a color name, hex code, RGB value, etc.). */

/*TODO Let understand the Each border property one by one.  */

/*? Border Width: The border-width property controls the thickness of the border. You can specify it using units like pixels (px), ems (em), or percentages (%). */

/*? Border Style: The border-style property determines the style of the border. Common values include solid, dotted, dashed, double, groove, ridge, inset, and outset. Each style results in a different visual appearance for the border. */
/* Keyword values */
/* border-style: none;
border-style: hidden;
border-style: dotted;
border-style: dashed;
border-style: solid;
border-style: double;
border-style: groove;
border-style: ridge;
border-style: inset;
border-style: outset; */

/* top and bottom | left and right */
/* border-style: dotted solid; */

/* top | left and right | bottom */
/* border-style: hidden double dashed; */

/*? Border Color: The border-color property sets the color of the border. You can specify it using color names, hex codes, RGB values, or other color notations. */



.section-border{
width: 50%;
/* border: 15px solid red; */
 /*?  write each property individual  */
 /* border-width: 15px;
 border-style: solid;
 border-color: aquamarine; */

  /*? we can write them individually too  */
   /* border-top: 5px solid blue;
    border-bottom: 5px dotted red;
    border-left: 5px double green;
    border-right: 5px dashed black; */

    /*? Now, further we can go more deeper with each individual values. */
    /* border-top-width: 10px;
    border-top-style: groove;
    border-top-color: red; */

}


/** ------------------------------------- -->
/**  BORDERS IN CSS3
/** ---------------------------------------- --> */
/*? Border-radius: The border-radius CSS property rounds the corners of an element's outer border edge. You can set a single radius to make circular corners, or two radii to make elliptical corners. */

/* Radius is set for all 4 sides */
/*? border-radius: 10px; */

/* top-left-and-bottom-right | top-right-and-bottom-left */
/*? border-radius: 10px 20%; */

/* Creating Custom Radius for Each Corner:  */
/* top-left | top-right | bottom-right | bottom-left */
/*? border-radius: 15px 5px 10px 20px; */

div{
    height: 500px;
    width: 500px;
    background-color: red;
    border-radius: 100px 100px;
}

/** ------------------------------------- -->
/** INTERVIEW QUESTIONS
/** ---------------------------------------- --> */

/*? 1: How do you set a border around an HTML element in CSS? Explain the border property and its values.; */
/* border:10px solid red; */
/*? 2: How can you create rounded corners for an HTML element in CSS?  */
/* border-radius  */
/*? 3: How do you create a circular border using border-radius? */
/* border-radius:50%; */